postgresql:
  postgresqlUser: postgres
  postgresqlPassword: postgres

image_vote:
  repository: etzi71/vote
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "36"

result_vote:
  repository: etzi71/result
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "36"

worker_vote:
  repository: etzi71/worker
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "36"
