apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: result
  name: result
  namespace: "{{ .Values.general.namespace}}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
#      - image: dockersamples/examplevotingapp_result:before
      - image: "{{ .Values.result_vote.repository }}:{{ .Values.result_vote.tag}}"
        imagePullPolicy: {{ .Values.result_vote.pullPolicy }}
        name: result
        ports:
        - containerPort: {{ .Values.result_vote.targetPort }}
          name: result
